PORT=3000

# SQL Server Configuration
DB_USER=sa
DB_PASSWORD=contraseña
DB_SERVER=db_server
DB_NAME=bdSIJUDI
DB_PORT=1433

# RabbitMQ Configuration
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_VHOST=/

# JWT Configuration
JWT_AUTHORITY=https://your-auth-server/permisos
JWT_AUDIENCE=your-api-audience
